$primary-text-color:#212121;
$secondary-text-color: #757575;
$accent-color:#2196F3;
$primary-white-color: #FFFFFF;
$border-header-color:#ECECEC;
$animation-time: cubic-bezier(0.4, 0, 0.2, 1);
$color-icon: #AFB1B8;
$font-family: Roboto,sans-serif;